// Styles for badge_modal.html

.badge-modal-body {
  background-color: #fff;
}

.badge-image-container {
  text-align: center;
  margin-bottom: 10px;
}

.badge-modal-image {
  max-width: 100%;
  border-radius: 8px;
}
