<div id="resetPasswordModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Reset Your Password</h5>
            <button type="button"
                    class="btn-close"
                    aria-label="Close"
                    onclick="closeModal('resetPasswordModal')"></button>
        </div>
        <div class="modal-body">
            <form id="resetForm"
                action="{{ url_for('auth.reset_password', token='') }}"
                data-base-action="{{ url_for('auth.reset_password', token='') }}"
                method="post">
                {{ reset_form.hidden_tag() }}
                <!-- token will be inserted by JS -->
                <input type="hidden" name="token" id="resetToken" value="">
                <div class="form-group">
                    {{ reset_form.password.label }}
                    {{ reset_form.password(class="form-control", id="resetPassword") }}
                </div>
                <div class="form-group">
                    {{ reset_form.confirm_password.label }}
                    {{ reset_form.confirm_password(class="form-control", id="resetConfirm") }}
                </div>
                <div id="resetError" class="text-danger mt-1 d-none"></div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary" id="resetButton">
                    Set New Password
                    </button>
                </div>
                <div id="resetSuccess" class="text-success mt-2 d-none"></div>
            </form>
        </div>
    </div>
</div>
  

