<div id="userProfileModal"
     class="modal"
     tabindex="-1"
     aria-labelledby="userProfileModalLabel"
     aria-hidden="true">

  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title me-auto" id="userProfileModalLabel"></h5>
      <button id="followBtn" class="btn btn-outline-primary ms-2"></button>
      <span id="followerCount" class="ms-2"></span>
      <button type="button" class="btn-close ms-2"
              aria-label="Close"
              data-close-modal="userProfileModal">
      </button>
    </div>

    <div class="modal-body">
      <div id="userProfileDetails"></div>
    </div>

  </div>
</div>