/* Typography Styles */
h1 {
    font-size: pxToRem(48);
    font-weight: bold;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: pxToRem(36);
    margin-bottom: 0.75rem;
  }
  h3 {
    font-size: pxToRem(30);
    margin-bottom: 0.75rem;
  }
  h4 {
    font-size: pxToRem(24);
    margin-bottom: 0.5rem;
  }
  h5 {
    font-size: pxToRem(20);
    margin-bottom: 0.5rem;
  }
  h6 {
    font-size: pxToRem(16);
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  