.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
  .col {
    flex: 1 0 0%;
    padding: 0 0.5rem;
  }
  .col-6 {
    flex: 0 0 50%;
  }
  