http {
    # rate limiting
    limit_req_zone $binary_remote_addr zone=one:10m rate=5r/s;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';
    access_log /var/log/nginx/access.log main;

    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;

    client_max_body_size 25M;
    large_client_header_buffers 4 32k;
    keepalive_requests 1000;
    keepalive_timeout 60s;

    gzip on;
    gzip_min_length 256;
    gzip_proxied any;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    sendfile on;

    include /etc/nginx/conf.d/*.conf;
}
