[Unit]
Description=RQ Worker for QuestByCycle
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}/prod
ExecStart={{ app_dir }}/.local/bin/poetry run rqworker
Environment="PATH={{ app_dir }}/.local/bin:/usr/bin:/bin"
Restart=on-failure

[Install]
WantedBy=multi-user.target
