[Unit]
Description=Gunicorn daemon for QuestByCycle (Development)
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}/dev
ExecStart={{ app_dir }}/.local/bin/poetry run gunicorn --config {{ app_dir }}/dev/gunicorn_dev.conf.py wsgi:app
Environment="PATH={{ app_dir }}/.local/bin:/usr/bin:/bin"
Restart=on-failure

[Install]
WantedBy=multi-user.target