{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container my-4">
    {% if current_user.is_authenticated %}
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}
    <h1 class="mb-4">Admin Dashboard</h1>
    <p>Welcome, {{ current_user.username }}!</p>

    {% if current_user.is_super_admin %}
        <a href="{{ url_for('admin.user_management') }}" class="btn btn-secondary mb-3">Manage Users</a>
    {% endif %}

    {% if current_user.is_admin %}
        <a href="{{ url_for('games.create_game') }}" class="btn btn-primary mb-3">Create New Game</a>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.title }}</td>
                            <td>{{ game.description }}</td>
                            <td class="text-end">
                                <a href="{{ url_for('games.update_game', game_id=game.id) }}" class="btn btn-sm btn-info me-2">Edit</a>
                                <button type="button" class="btn btn-sm btn-danger me-2" onclick="openDeleteGameModal({{ game.id }})">Delete</button>
                                <a href="{{ url_for('quests.manage_game_quests', game_id=game.id) }}" class="btn btn-sm btn-primary me-2">Quests</a>
                                <a href="{{ url_for('badges.manage_badges', game_id=game.id) }}" class="btn btn-sm btn-primary me-2">Badges</a>
                                <a href="{{ url_for('games.generate_qr_for_game', game_id=game.id) }}" class="btn btn-sm btn-success" title="Generate QR Code">
                                    <i class="bi bi-qr-code"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">No games found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('admin.user_management') }}" class="btn btn-primary mt-3">Manage Users by Game</a>
    {% endif %}
</div>

{% include 'modals/all_submissions_modal.html' %}
{% include 'modals/game_info_modal.html' %}
{% include 'modals/user_profile_modal.html' %}
{% include 'modals/leaderboard_modal.html' %}
{% include 'modals/delete_game_modal.html' %}

<script src="{{ url_for('static', filename='js/all_submissions_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_info_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_profile_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaderboard_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/index_management.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_game_modal.js') }}"></script>

{% endblock %}
